@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&family=Yuji+Hentaigana+Akebono&display=swap');
h1{
    font-family: 'Yuji Hentaigana Akebono', cursive;

}
p{
    font-family: 'Vujahday Script', cursive;
    font-size: xx-large ;
}
